/* =======================================================================
## ++ Globals
========================================================================== */
html{
    font-size: 100%;
    font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
}

body{
    -webkit-font-smoothing: antialiased;
    background: #000;
    line-height: 1.3;

}

*{
    box-sizing:border-box;
}

main {
    padding-top: 65px;
}

// input, textarea {
//     width: 100%;
// }

@media (max-width: 979px) {
  body {
    padding-top: 0px;
  }
}

.hero {
	 padding-top: 0;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    margin-bottom: .5rem;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.2;
    color: inherit;
}

.img-responsive {
  max-width: 100%;
  height: auto;
}

.social i {
    font-size: 30px;
    padding: 0.2rem;
}


// .carousel .carousel-indicators li {
//   border: 0px;
//   background-color: #E9E9E9;
//   -webkit-transition: all 0.3s ease;
//   transition: all 0.3s ease;
//   -webkit-transform: scale(1);
//   transform: scale(1);
//   margin-left: 5px;
//   margin-right: 5px;
// }
// .carousel .carousel-indicators li.active,
// .carousel .carousel-indicators li:hover {
//   background-color: #FFFFFF;
//   -webkit-transform: scale(1.3);
//   transform: scale(1.3);
// }
// .carousel .carousel-indicators li.active {
//   margin-left: 5px;
//   margin-right: 5px;
// }
// .carousel .carousel-inner .item {
//   height: 800px;
// }
// .carousel .carousel-inner .item img {
//   width: 100%;
//   height: 100%;
// }
// .carousel .carousel-control {
//   -webkit-transition: transform 0.3s ease;
//   -webkit-transition: -webkit-transform 0.3s ease;
//   transition: -webkit-transform 0.3s ease;
//   transition: transform 0.3s ease;
//   transition: transform 0.3s ease, -webkit-transform 0.3s ease;
//   -webkit-transform: scale(1);
//   transform: scale(1);
//   opacity: 1;
//   text-shadow: none;
//   background-image: none;
// }
// .carousel .carousel-control:hover {
//   -webkit-transform: scale(1.3);
//   transform: scale(1.3);
//   background-image: none;
// }


/* =======================================================================
## ++ Cleafix
========================================================================== */

/* float clearing for IE6 */
* html .clearfix{
 height: 1%;
 overflow: visible;
}

/* float clearing for IE7 */
*+html .clearfix{
 min-height: 1%;
}

/* float clearing for everyone else */
.clearfix:after{
 clear: both;
 content: ".";
 display: block;
 height: 0;
 visibility: hidden;
 font-size: 0;
}

.clr{clear:both;}






