/*style the navigation and header here*/

html {
  height: 100%;
}
html body {
  height: 100%;
}
html body .carousel {
  height: 100%;
}
html body .carousel .carousel-indicators {
  bottom: 10px;
}
html body .carousel .carousel-inner {
  height: 100%;
}
html body .carousel .carousel-inner .item {
  height: 100%;
}
html body .carousel .carousel-inner .item .fill {
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
}
html body .carousel .carousel-inner .item .carousel-caption {
  top: 35%;
  bottom: initial;
}

/*logo*/
.navbar-brand>img {
    display: block;
    max-width: 100%;
    float: left;
}

.navbar-brand {
    float: left;
    height: 50px;
    padding: 16px 32px;
    font-size: 18px;
    line-height: 40px;
}


.navbar-wrapper{
  position:fixed;
  width:100%;
  background-color:transparent;
  z-index:10;
  border-radius:0;
  border-color:transparent;
}
.navbar-default {
     background-color: transparent; 
     border-color: transparent; 
     // text-transform: uppercase;
     font-weight: 500;
}

.navbar-default .navbar-nav>li>a {
    color: rgba(255, 255, 255, 0.7);
    font-size: .9em;
    font-weight: 600;
}

.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
    color: rgba(255, 255, 255, 0.7);
    background-color: transparent;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    color: rgba(255, 255, 255, 0.7);
    background-color: transparent;
}

.carousel-caption > hr {
    max-width: 100px;
    border-width: 3px;
    border-color: #fff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.navbar-default .navbar-brand {
    color: #fff;
    font-size: 1.3rem;
    font-weight: 400;
}
.navbar-default .navbar-nav  a {
  color: #fff;
}

.carousel-inner>.item>a>img, .carousel-inner>.item>img, .thumbnail a>img, .thumbnail>img .cta>p{
    display: block;
    width: 100%;
    // height: 100vh;
     // min-height: 650px;
}

.carousel-indicators .active {
    width: 72px;
    height: 3px;
    margin: 0;
    background-color: #fff;
}
.carousel-indicators li {
    display: inline-block;
    width: 72px;
    height: 3px;
    margin: 0;
    text-indent: -999px;
    cursor: pointer;
    background-color: #000\9;
    background-color: rgba(0,0,0,0);
    border: 1px solid #fff;
    border-radius: 0px;
}

.carousel-control .glyphicon-menu-left, .carousel-control .glyphicon-menu-right, .carousel-control .icon-next, .carousel-control .icon-prev {
    position: absolute;
    top: 50%;
    z-index: 5;
    display: inline-block;
    margin-top: -10px;
}

// .cta p {
//     position: absolute;
//     bottom: 0%;
//     /* text-align: center; */
//     margin: 0 50%;
// }

.cta {
    margin: 2% 0;
}

@media (min-width: 992px){
.red {
    color: #ff0404;
  }
}

/*update styles on scroll*/
@media (min-width: 992px){
#mainNav.navbar-shrink .navbar-brand {
    color: #000;
}
}
@media (min-width: 992px){
#mainNav.navbar-shrink .navbar-nav a  {
    color: #212529;
 }
}
/*update styles on scroll*/

@media (min-width: 992px){
  #mainNav.navbar-shrink  {
    border-bottom: 1px solid rgba(33, 37, 41, 0.1);
    background-color: #fff;
  }
}

@media (min-width: 768px){
.navbar-nav {
    float: right;
    margin: 0;
    text-transform: uppercase;
    }

    .navbar {
    border-radius: 0px; 
  }
}


@media (min-width: 1200px){
.carousel-caption h3 {
    font-size: 4rem;
    text-transform: uppercase;
    color: #ff0404;
    text-shadow: 2px 1px #000;
  }
}

@media (min-width: 768px){
    .carousel-caption p {
    font-size: 2.5rem;
    color: rgba(255,255,255,.9);
    padding-top: 3rem;
    text-shadow: 2px 1px #000;
  }
}
@media (max-width:767px){
    .navbar-wrapper {
        position:relative;
    }
    .navbar-default .navbar-brand {
    color: #000;
    font-size: 1.3rem;
    font-weight: 400;
  }
  .navbar-default .navbar-nav  a {
    color: #fff;
  }
  .navbar-default .navbar-nav>li>a {
    color: #000;
    text-align: center;
    font-size: 1.3rem;
    border-bottom: 1px solid #ccc;
  }

  .navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    color: #000;
    background-color: transparent;
}

}

// .navbar-default .navbar-nav > li > a{
//   color:#000;
  
// }
