/* styles for sections of the homepage
	1. about section
*/ 


.about {
	background: #F05F40;
	padding: 8rem 0;
	color: #fff;
	text-align: center;
}

.about h2 {
    font-size: 2rem;
    margin-bottom: 2rem;
}

.about hr {
    max-width: 50px;
    border-width: 3px;
    border-color: #ff0404;
}

#about p {
    font-size: .99rem;
    font-weight: 100;
}

/*services section*/

.service {
	padding: 3.5rem 0;
	text-align: center;
}

.service h2 {
  font-size: 2rem;
  color: #ff0404;
  padding: 0 0 1.5rem 0;
  position: relative;
}

.service p {
    padding: 1rem 0 ;
}
.service h3 {
    font-size: 1.7rem;
    color: #ff0000;
    font-weight: 400;
    text-align: center;
}

.services-image .img-responsive {
    margin: 0 auto;
}

/*portfolio section*/
div#portfolio {
    padding-right: 1.1rem;
    padding-left: 1.1rem;
    overflow: hidden;
    background: #F05F40;
    padding-top: 6px;
}

.content {
  position: relative;
  width: 100%;
  max-width: 500px;
  margin: auto;
  overflow: hidden;
}

.content-details {
  position: absolute;
  text-align: center;
  padding-left: 1em;
  padding-right: 1em;
  width: 100%;
  top: 50%;
  left: 50%;
  opacity: 0;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.content:hover .content-details{
  top: 50%;
  left: 50%;
  opacity: 1;
}

.content-details h3{
  color: #fff;
  font-weight: 500;
  letter-spacing: 0.15em;
  margin-bottom: 0.5em;
  text-transform: uppercase;
}

.content-details p{
  color: #fff;
  font-size: 0.8em;
}

.content .content-overlay {
  background: rgba(0, 0, 0, 0.7);
  position: absolute;
  height: 99.9%;
  width: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  -webkit-transition: all 0.4s ease-in-out 0s;
  -moz-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
}

.content:hover .content-overlay{
  opacity: 1;
}

.content-image{
  width: 100%;
}
.fadeIn-top{
  top: 20%;
}

#block-portfolio .col-lg-3.col-md-6.col-xs-12 {
    padding: 0;
}
#block-portfolio .img-responsive {
    // min-height: 323px;
    height: auto;
}

/*bottom block section*/
div#bottom-block-section {
    background: #212529;
    padding: 2rem 0 3.5rem 0;
    color: #fff;
    text-align: center;
    display: none;
}

div#bottom-block-section h2 {
    font-size: 1.66rem;
    text-transform: uppercase;
    padding: 2rem 0 2rem 0;
}

div#bottom-block-section .btn {
    font-weight: 700;
    text-transform: uppercase;
    border: none;
    border-radius: 300px;
    font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
    background: #fff;
    padding: 0.8rem;
    color: #212529;
}

div#bottom-block-section .row {
  padding: 0;
  margin: 0;
}

/*contact section*/
#contact h2 {
      font-size: 2rem;
    margin-bottom: 2rem;
    color: #F05F40;
}

div#contact {
      min-height: 600px;
    text-align: center;
    background: url("/themes/custom/creativedigitalfactory/images/contact_form_bg.png");
    background-color: #0d61a9;
}
div#contact p {
  color: #fff;
  font-size: 1rem;
  padding-bottom: 1rem;
}
// input#edit-name, input#edit-name--2, input#edit-mail, textarea#edit-message-0-value {
//     color: #ccc;
//     padding: 0.5rem;
//     width: 100%;
//     margin-bottom: 0.3rem;
//     border: none;
//     border-bottom: 1px solid #999;
//     border-left: 1px solid #999;
// }
[role="contentinfo"] {
  display: none;
}
input[type="text"], input[type="email"], textarea {
    color: #ccc;
    padding: 0.5rem;
    width: 100%;
    margin-bottom: 0.3rem;
    border: none;
    border-bottom: 1px solid #999;
    border-left: 1px solid #999;
}

input[type="submit"] {
    background: #337ab7;
    border: 1px solid #fff;
    padding: 0.5rem 2rem;
    color: #fff;
    margin: 0.7rem 0 0 0;
}
.form-item--error-message , .error {
    font-size: 12px;
    color: red;
    /* float: left; */
    width: 100%;
    /* text-align: left; */
}

input#edit-preview {
    display: none;
}

/*errors*/
label.js-form-required.form-required {
    display: none;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}
label.js-form-required.form-required {
    display: none;
}

// placeholder text style
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #999;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #999;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #999;
}
:-moz-placeholder { /* Firefox 18- */
  color: #999;
}

/*footer*/
div#footer {
    text-align: center;
    margin: 1.5rem;
}

/*throbber styles*/
.ajax-progress-throbber {
  position: absolute;
  background: rgba(0,0,0,0.2) url(../../../../misc/throbber-active.gif) no-repeat 0px center;
  //background: rgba(0,0,0,0.2);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  padding: 20% 0;
}

.ajax-progress .ajax-progress-throbber {
  margin: 20% 0;
}